
  
  .menu-trigger {
    background: transparent !important;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    border: none;
    vertical-align: middle;
    margin-left: auto; /* Strictly for positioning */
  }
  
  .menu-trigger:hover {
    color:blue !important;
  }
  
  .menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
  }
  
  .menu-trigger img {
    border: none;
  }
  
  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 400px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    z-index:1;

  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* .menu li {
    border-bottom: 1px solid #dddddd;
  } */
  
  .menu li a{
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
  
.bgHover{
    transition: all 0.2s linear;
}
.bgHover:hover{
      background-color: red !important;
      color:white !important;
      transform: scale(1.1);
  }